html, body {
  height: 100%;
}

*{
margin: 0; padding: 0; box-sizing: border-box;
}


.jogo {
 width: 100%;
 height: 100%;
 position: relative;
 border-bottom: 30px solid rgb(17, 78, 17);
 background: linear-gradient(#173083, #6d7bc1);
 overflow: hidden;
}


@media (max-width: 480px) {
  .jogo {
  border-bottom: 30px solid rgb(17, 78, 17);
  }
}


.personagem {
  position: absolute;
 bottom: 0%;
  width: 12vw;  
}


@media (max-width: 480px){
  .personagem {
    width: 24vw;  
    max-width: 100px;
  }
}
.amanda {
  width: 9vw;
  bottom: 0%;
}

@media (max-width: 480px) {
  .amanda {
    
  width: 14vw;
  bottom: 0%;


  }
  }

.maria {
  width: 9vw;
   bottom: 0%;
}


@media (max-width: 480px) {
  .maria {
    
  width: 14vw;
  bottom: 0%;


  }
  }

.gustavo {
  width: 9vw;
   bottom: 0%;
}



@media (max-width: 480px) {
  .gustavo {
    
  width: 14vw;
  bottom: 0%;


  }
  }

.heloisa {
  width: 9vw;
  bottom: 0%;


}

@media (max-width: 480px) {
  .heloisa {
    
  width: 14vw;
  bottom: 0%;


  }
  }
.pirata {
  position: absolute;
  width: 20vw;   
  bottom: 0%;
  left: 65vw;  
}
 
@media (max-width: 480px) {
  .pirata {
  position: absolute;
  width: 30vw;   
  bottom: 0%;
  left: 65vw;  

  }
  }

  

@media (max-width: 480px) {
  #mensagempirata {
    position: absolute;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%); 
    font-family: komika, sans-serif;
    text-align: center;
    white-space: pre-wrap;
    background-color: #fcecc0;
    color: #3e2f1c;
    font-size: 4vw;        
    font-weight: bold;
    padding: 0.4 2em; 
    border: 3px solid #8b5e3c;
    border-radius: 1.5em;
    box-shadow: 0.3em 0.3em 0.8em rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    width: 85%;       
    max-width: 400px; 
    z-index: 9999;
    }
  }


#mensagempirata {
  position: absolute;
    top: 7vh;
    left: 55%;
    transform: translateX(-50%); 
    
    display: none;
    font-family: komika, sans-serif;
    text-align: center;
    white-space: pre-wrap;
    background-color: #fcecc0;
    color: #3e2f1c;
    font-size: 1.2vw;        
    font-weight: bold;
    padding: 0.5em 1em;    
    border: 3px solid #8b5e3c; 
    border-radius: 1.5em;
    box-shadow: 0.3em 0.3em 0.8em rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    
    width: 80%;     
    max-width: 45vw; 
    z-index: 9999;
}

@media (max-width: 480px) {
  #mensagempirata {
    position: absolute;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%); 
    font-family: komika, sans-serif;
    text-align: center;
    white-space: pre-wrap;
    background-color: #fcecc0;
    color: #3e2f1c;
    font-size: 4vw;        
    font-weight: bold;
    padding: 0.4 2em; 
    border: 3px solid #8b5e3c;
    border-radius: 1.5em;
    box-shadow: 0.3em 0.3em 0.8em rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    width: 85%;       
    max-width: 400px; 
    z-index: 9999;
    }
  }


#botaoContinuar {
   position: absolute;          
  bottom: 41vh; 
  right: 23vw;  
  background-color: #fcecc0;
  color: #3a230e; 
  font-family: komika;
  font-size: 1.4vw;      
  font-weight: bold;
  padding: 0.8em 1.5em;
  border: 2px solid #8b5e3c; 
  border-radius: 2em; 
  box-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.3); 
  z-index: 9999;
  cursor: pointer;
}

@media (max-width: 480px) {
  #botaoContinuar {

      position: absolute;          
  bottom: 33vh; 
    right: 34vw;
  background-color: #fcecc0;
  color: #3a230e; 
  font-family: komika;
        font-size: 4vw;
  font-weight: bold;
  padding: 0.8em 1.5em;
  border: 2px solid #8b5e3c; 
  border-radius: 2em; 
  box-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.3); 
  z-index: 9999;
  cursor: pointer;
    
  
  }
}

.nuvem {
  position: absolute;
  top: 10vh;  
  right: 20vw;  
  width: 25vw;    
  height: auto;
}

@media (max-width: 480px) {
  .nuvem {

 position: absolute;
  top: 15vh;  
  right: 20vw;  
  width: 50vw;    
  height: auto;
    
  
  }
}
.estrelas {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;   
  height: 4px;
  background: #ffeb3b; 
  border-radius: 50%;  
  box-shadow: 
    5vw 10vh white,
    15vw 30vh #fff9c4,
    25vw 50vh #ffe082,
    35vw 70vh white,
    45vw 20vh #ffeb3b,
    55vw 60vh white,
    65vw 15vh #fff176,
    75vw 40vh white,
    85vw 80vh #ffeb3b,
    95vw 25vh white,

    10vw 60vh #fff59d,
    20vw 15vh #ffeb3b,
    30vw 35vh white,
    40vw 75vh #fff176,
    50vw 5vh white,
    60vw 45vh #ffe082,
    70vw 25vh white,
    80vw 55vh #fff9c4,
    90vw 10vh white,
    100vw 65vh #ffeb3b;

}