html, body {
  height: 100%;
    background: #173083;
  color: #3a230e;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color-scheme: light;
  forced-color-adjust: none;
  
}

*{
margin: 0; padding: 0; box-sizing: border-box;
}


.fim {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
  overflow: hidden  ;
}


.heloisa {
    position: absolute;
    top: 35%;
    left: 17%;
    width: 10%;
}

@media (max-width: 480px) {
  .heloisa{

  top:22%;
    left: 10%;
    width: 25%;
}


  }
  



.gustavo {
    position: absolute;
   top: 35%;
    left: 45%;
    width: 9%;
}
@media (max-width: 480px) {
  .gustavo{

   top: 21%;
    left: 38%;
    width: 24%;
}

}
  
  

.maria {
    position: absolute;
  top: 35%;
    left: 73%;
    width: 10%;
}

@media (max-width: 480px) {
  .maria{

    position: absolute;
  top: 21%;
    left: 67%;
    width: 26%;
}


  }


.amanda {
    position: absolute;
   top: 35%;
    left: 59%;
    width: 09%;
}

@media (max-width: 480px) {
  .amanda{


 position: absolute;
   top: 36%;
    left: 55%;
    width: 24%;

  }
  
}

.nicolly {
    position: absolute;
   top: 35%;
    left: 31%;
    width: 9%;
}

@media (max-width: 480px) {
  .nicolly{

  position: absolute;
   top: 35%;
    left: 21%;
    width: 25%;


  }
  
}


#botaoContinuar {
  position: absolute;          
  bottom: 32vh; 
  text-align: center;
  left: 50%;
transform: translate(-50%); 
  color: #ffffff; 
  font-family: komika;
  font-size: 1.8vw;      
  cursor: pointer;
}

@media (max-width: 480px) {
  #botaoContinuar{

  position: absolute;          
  left: 50%;
transform: translate(-50%);  
  color: #ffffff; 
  font-family: komika;
  font-size: 6vw;      
  cursor: pointer;
}
  }
  
